<html>
	<head>
		<title><%= title %></title>
  		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		  <link rel="stylesheet" href="style.css">
		  <style>
			  .btn{
				  min-width: 200px;
			  }
		  </style>
	</head>
	<body>
		<div class="container">
			<br>
			<h1><%= title%></h1>
			<br><hr>
			<a href="/students" class="btn btn-lg btn-primary">Students</a><br><br><hr>
			<a href="/students__cards" class="btn btn-lg btn-primary">Students__cards</a><br><br><hr>
			<a href="/teachers" class="btn btn-lg btn-primary">Teachers</a><br><br><hr>
			<a href="/teachers__cards" class="btn btn-lg btn-primary">Teachers__cards</a><br><br><hr>
			<a href="/staff" class="btn btn-lg btn-primary">Staff</a><br><br><hr>
			<a href="/books" class="btn btn-lg btn-primary">Books</a><br><br><hr>
			<a href="/authors" class="btn btn-lg btn-primary">Authors</a><br><br><hr>
			<a href="/publishers" class="btn btn-lg btn-primary">Publishers</a><br><br><hr>
		</div>
	</body>
</html>