<html>
	<head>
		<title><%= title %></title>
  		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		  <link rel="stylesheet" href="style.css">
	</head>
	<body>
		<br>
		<div class="container">
			<br>
			<span class="h1"><%= title%></span>
			<br>
			<form action="/save-publish" method="POST">
				<div class="form-group">
					<label for="name" class="h4">Name:</label>
					<input type="text" class="form-control" name = "p__name" placeholder="Enter name" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>